// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Gray Scale
$gray-1: #F2F2F2;
$gray-2: #DDE3E9;
$gray-3: #C5CFD6;
$gray-4: #AFB9C5;
$gray-5: #C3C5C8;
$gray-6: #7C858C;
$gray-7: #333D47;
$gray-8: #0B0000;

// Reds
$red-1: #EEA099;
$red-2: #E67166;
$red-3: #DD4132;

// Wines
$wine-1: #CF8898;
$wine-2: #B74C64;
$wine-3: #9E1030;

// Oranges
$orange-1: #FFC295;
$orange-2: #FFA360;
$orange-3: #FF842A;


// Coral (principal)
$coral-1: #FFB7B0;
$coral-2: #FF9389;
$coral-3: #FF6F61;

